.attraction {
  border-top: 1px solid #dbdbdb;
}

.attraction__title {
  font-size: 18px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 43px;
  font-weight: bold;
  padding-top: 25px;
}

.attraction__radio-item {
  font-size: 18px;
  line-height: 26px;
  color: black;
  text-align: left;
  padding-bottom: 65px;
  margin-left: 20px;
    &--last {
      padding-bottom: 48px;
    }
}
 
.attraction__checkbox {     //Кнопка    input
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.attraction__checkbox-text {       //Текст  label
  padding-left: 55px;
  font-weight: bold; 
}

.attraction__checkbox + .attraction__checkbox-text {
  position: relative;
  padding: 12px 0 0 75px;
  cursor: pointer;
}

.attraction__checkbox + .attraction__checkbox-text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 2px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: #f2f2f2;
}

.attraction__checkbox + .attraction__checkbox-text:after {
  content: '';
  position: absolute;
  transition: .2s;
  top: -2px;
  left: 2px;
  width: 26px;
  height: 20px;
}

.attraction__checkbox:checked + .attraction__checkbox-text:before {
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon-tick.svg);
  background-size: 25px 26px;
}

.attraction__checkbox-text:hover:before {
  background: #e5e5e5;
}

.attraction__checkbox-text:active:before {
  background: #d5d5d5;
  opacity: 0.4;
}

@media screen and (min-width: @tablet-width) {  
.attraction {
  flex-basis: 100%;
  margin-top: 75px;
}
    
.attraction__radio-block {
  width: 550px;
  //margin: auto;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
    align-content: center;
}
    
.attraction__title {
  font-size: 21px;
  background-color: white;
  width: 350px;
  margin: auto;
  margin-top: -48px;
  
}
    
.attraction__radio-item {
  padding-bottom: 75px; 
  margin-right: 35px;
}
    
.attraction__radio-item--last {
  margin-left: 42px;
}
}


@media screen and (min-width: @desktop-width) { 
.attraction__radio-item {
  
&--last {
  margin-left: 0;    
}
}
    
.attraction__checkbox-text {
  padding-left: 25px;
  font-weight: bold;
}

.attraction__radio-block {
  width: 960px;  
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

}
