
.city-info {
    background-color: @sedona-blue;
    
    display: flex;
    justify-content: space-between;
}

.city-info__title {
    font-size: 18px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-bottom: 16.5px;
    padding-top: 42px;
    
   
}

.city-info__number {
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 24.5px;

}

.city-info__description {
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom:  44.5px;
    
     width: 287px;
    margin: auto;
    
    &--last {
        border-bottom: none;
    }
}

@media screen and (min-width: @tablet-width) {  //768px
    .city-info__img {
        flex-basis: 66%;
    }
    
    
    .city-info__title {
        font-size: 21px;
        line-height: 26px;
        width: 122px;
        
        &--devil-bridge {
            width: 151px;
            margin: auto;
        }
    }
    
    .city-info__description { 
        margin: auto;
        width: 178px;
        &--devil-bridge { 
            margin: auto;
            width: 178px;
        }
    }
    
    
    .city-info__block {
        flex-basis: 33%;
        
    &--devil-bridge {
        order: 2;    
    }
    
}
      
}

@media screen and (min-width: @desktop-width) { //1200px
    
    
    .city-info__title {
        font-size: 21px;
        line-height: 26px;
        
        margin: auto;
        width: 123px;
        
        &--devil-bridge {
            width: 151px;
            
        }
    }
    
    .city-info__description { 
        
        
        width: 282px;
        margin: auto;
        
        &--devil-bridge { 
            
            width: 271px;
        }
    }
    
}













