
.city-info {
    
}

.city-info__img {
    width: 320px;
    display: block;
}

.city-info__block {
   background-color: @sedona-blue;
}

.city-info__title {
    font-size: 18px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 16.5px;
    padding-top: 42px;
    

}

.city-info__number {
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 24.5px;

}

.city-info__description {
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom:  44.5px;
    
    &--briefly { 
        color: @litle-text;
        border-bottom: 1px solid #d6d6d6;
        margin-right: 36px;
        margin-left: 36px;
    }
    
    &--last {
        border-bottom: none;
    }
}

@media screen and (min-width: @tablet-width) {  //768px
    
    .city-info {
    
        &--briefly {
            
        } 
    }
    
    
    .city-info__img {
        
        width: 510px;
    }
    
    
    .city-info__title {
        font-size: 21px;
        line-height: 26px;

        &--briefly {
            

        }
    }
    
    
    .city-info__block {
        width: 225px;
        padding-right: 65px;
        padding-left: 66px;
        
    &--devil-bridge {
        order: 2;     
    }
        
    
    &--briefly {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        
    }
    
}
      
}

@media screen and (min-width: @desktop-width) { //1200px
    
    
}













