.contacts-info {
    border-top: 1px solid #dbdbdb;
    padding-bottom: 7px;
    
    
}

.contacts-info__title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 34px;
    
    padding-top: 24px;
}

.contacts-info__form {
     padding-bottom: 20px;
}

.contacts-info__text {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: @litle-text;
    margin-left: 22px;
}



.contacts-info__field {
    font-size: 18px;
    line-height: 26px;
    
    height: 58px;
    width: 252px;
    
    position: relative;
    z-index: 8;
    
    
    background-color: @sedona-form;
    color: black;
    border: 4px solid @sedona-form;
    padding-left: 22px;
    margin-top: 15px;
   // margin-left: 20px;
   // margin-right: 20px;
    
        &:hover {
            background-color: #e5e5e5;
            border-color: #e5e5e5; 
        }
        
        &:active {
            background-color: white;
            
            border-color: #e5e5e5;
        }
        
        &:focus {
            background-color: white;
            outline: none;
            border-color: #e5e5e5;
        }
    
    
        &::before {
            
        }
    
        &::placeholder {
            color: black;
            font-weight: bold;
        }
}

.contacts-info__icon {
        position: absolute;
        right: 18px;
        bottom: 1659px;
            
    background-color: #e6e6e6;  //#e6e6e6
        width: 58px;
        height: 66px;
        
        z-index: 10;
    
        &--mail {
            bottom: 1528px;
            background-color: #e6e6e6;
        }
    
}

.contacts-info__icon svg {
        position: absolute;
        top: 34%;
        right: 30%;
        
}


@media screen and (min-width: @tablet-width) {  //768px
    
    .contacts-info {
        display: flex;
        flex-direction: column;
        
        flex-basis: 100%;
        
        border-bottom: 0;
        
        margin-top: 50px;
    }
    
    .contacts-info__title {
        font-size: 21px;
        
        background-color: white;
        width: 400px;
        
        margin: auto;
        
        margin-top: -14px;
        
        padding-top: 0px;
    }
    
    
    .contacts-info__text {
        
        margin-left: 22px;
        
        padding-bottom: 15px;
    }
    
    .contacts-info__form {
        padding-left: 0;
        
        
        
    }
    
    .contacts-info__field {
        
        height: 58px;
        width: 615px;
        
        color: black;
        
        padding-left: 22px;
        
        border: 4px solid @sedona-form;
        
        margin: 0 auto;
        
        &:hover {
            background-color: #e5e5e5;
            border-color: #e5e5e5; 
        }
        
        &:active {
            background-color: white;
            
            border-color: #e5e5e5;
        }
        
        &:focus {
            background-color: white;
            outline: none;
            border-color: #e5e5e5;
        }
    }
    
    .contacts-info__icon {
        
        right: 63px;
        bottom: 948px;
            
        
    
        &--mail {
            bottom: 832px;
            
        }
    
    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
    .contacts-info__icon {
          //#e6e6e6
        
        
        right: 663px;
        bottom: 741px;
        
        z-index: 10;
    
        &--mail {
            bottom: 741px;
            right: 121px;
            
        }
    
    }
  
    .contacts-info {
        display: flex;
        flex-direction: column;
        
        flex-basis: 100%;
        
        
    }
    
    
    .contacts-info__text {
        
        margin-left: 0;
        
        padding-right: 12px;
    }
    
    .contacts-info__form {
        flex-basis: 50%;
           
        padding-left: 0;
        
            width: 400px;
        
        &--mail {
             width: 480px;
            padding-left: 78px;
        }
    }
    
    .contacts-info__input-block {
        
      display: flex;
        
          flex-direction: row;
        
        flex-wrap: nowrap;
        
        flex-basis: 100%;
    }
    
    .contacts-info__span {
        display: none;   
    }
    
    .contacts-info__field {
        
        height: 58px;
        width: 301px;
        
        color: black;
        
        padding-left: 22px;
        
        margin: 0 auto;
        
        &--mail {
            width: 248px;
        }
    }
    
}















