.contacts-info {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 7px;
}

.contacts-info__title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 34px;
}

.contacts-info__form {
     padding-bottom: 20px;
}

.contacts-info__text {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: @litle-text;
    margin-left: 22px;
}

.contacts-info__field {
    font-size: 18px;
    line-height: 26px;
    height: 58px;
    width: 280px;
    background-color: @sedona-form;
    color: black;
    border: none;
    padding-left: 22px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.contacts-info__icon {
    position: absolute;
}


@media screen and (min-width: @tablet-width) {  //768px
    
    .contacts-info {
        display: flex;
        flex-direction: column;
        
        flex-basis: 100%;
        
        border-bottom: 0;
    }
    
    .contacts-info__text {
        
        margin-left: 22px;
        
        padding-bottom: 15px;
    }
    
    .contacts-info__form {
        padding-left: 60px;
        
        
        
    }
    
    .contacts-info__field {
        
        height: 58px;
        width: 626px;
        background-color: @sedona-form;
        color: black;
        border: none;
        padding-left: 22px;
        
        margin: 0 auto;
    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
    
  
    
    .contacts-info__text {
        
        margin-left: 30px;
        
        
    }
    
    .contacts-info__form {
        
           padding-left: 75px;
        
        
    }
    
    .contacts-info__input-block {
        display: flex;
        flex-direction: row;
        
        flex-wrap: wrap;
        
        flex-basis: 100%;
        
        
    }
    
    .contacts-info__span {
        display: none;   
    }
    
    .contacts-info__field {
        
        height: 58px;
        width: 298px;
        background-color: @sedona-form;
        color: black;
        border: none;
        padding-left: 22px;
        
        margin: 0 auto;
    }
    
}















