.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.footer__develop {
  padding-bottom: 23px;
}

@media screen and (min-width: @tablet-width) {  
.footer__block {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
    
.footer__develop {
 padding-bottom: 0;
  padding-top: 0;
}

}

@media screen and (min-width: @desktop-width) { 

    
}