.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__hash {
  margin-bottom: 42px;
  margin-top: 33.1px;
}

.footer__develop {
  margin-bottom: 22px;
}

@media screen and (min-width: @tablet-width) {  
.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
    
.footer__hash {
  
  margin-top: 42.1px;
}
    
.footer__develop {
  padding-bottom: 35px;
  padding-top: 28px;
  margin-bottom: 0;
}

}

@media screen and (min-width: @desktop-width) {
    
 
    
.footer__hash {
    margin-top: 39.1px;
    
}
    
}