.form-wrapper {
  //padding-left: 20px;
  //padding-right: 20px;
}

@media screen and (min-width: @tablet-width) {  //768px
.form-wrapper {
  margin-left: 55px;
  margin-right: 55px;
}
   
}



@media screen and (min-width: @desktop-width) { //1200px
.form-wrapper {
  margin-left: 120px;
  margin-right: 120px;
}
  
}

