
 .form-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    

    }


@media screen and (min-width: @tablet-width) {  //768px
    

    .form-wrapper {
        margin-left: 60px;
        margin-right: 60px;
    

    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
   .form-wrapper {
    
        margin-left: 120px;
        margin-right: 120px;

    }
    
        
    
}