.greetings {
    display: block;
}

.greetings__img {
    
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    height: auto;
    width: 100%;
    
}




@media screen and (min-width: @tablet-width) {  //768px
    

    .greetings__img {
         
        min-width: 768px;
    }
   
   
}

@media screen and (min-width: @desktop-width) { //1200px
    .greetings__img {
         
        min-width: 1200px;
    }
    
}