.greetings {
    display: block;
    max-width: 320px;
    
    
    
}

.greetings__img {
    
      background-image: url(../img/bg-back-mobile@1x.jpg);
      background-size: 320px 390px;
      background-position: center;
      background-repeat: no-repeat;
    line-height: center;
    
    height: 390px;
    width: 320px;
    max-width: 100%;
     text-align: center;
  
      
}

.greetings__img-text {
    background-image: url(../img/);
}

