.hash__text {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}


@media screen and (min-width: @desktop-width) {  

    .hash__text { 
        padding-right: 7px;
        padding-left: 9px;
    }



}