.impression {
    border-bottom: 1px solid #e5e5e5;
}

.impression__title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 48px;
}

.impression__radio-item {
    padding-bottom: 52px;
    text-align: left;
    margin-left: 20px;
}



.impression__radio-text {
    font-size: 18px;
    line-height: 26px;
    color: black;
    
    font-weight: bold;
    
    padding-left: 27px;
}


@media screen and (min-width: @tablet-width) {  //768px
    
    .impression {
        display: flex;
        flex-direction: column;
        
        border-right: 1px solid #e5e5e5;
        
        flex-basis: 50%;
        order: -1;
        
        border-bottom: 0;
    }
    
    .impression__radio-item {
        padding-bottom: 52px;
        text-align: left;
        margin-left: 67px;
    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
    .impression {
        display: flex;
        flex-direction: column;
        
        width: 400px;
        
        flex-basis: 400px;
        order: -1;
    }
    
}