.impression {
    border-top: 1px solid red;
}

.impression__title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 48px;
    padding-top: 25px;
}

.impression__radio-item {
    padding-bottom: 52px;
    text-align: left;
    margin-left: 20px;
}



.impression__radio-text {
    font-size: 18px;
    line-height: 26px;
    color: black;
    
    font-weight: bold;
    
    padding-left: 27px;
}


@media screen and (min-width: @tablet-width) {  //768px
    
    .impression {
        display: flex;
        flex-direction: column;
        
        border-right: 1px solid red;
        border-top: none;
        flex-basis: 50%;
        order: -1;
        
        
    }
    
    .impression__title {
        padding-top: 0;
    }
    
    .impression__radio-item {
        padding-bottom: 52px;
        text-align: left;
        margin-left: 0px;
        
        &--last {
            padding-bottom: 21px;
        }
    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
    .impression__title {
        
        text-align: center;
        
    }
    
    .impression__radio-item {
        margin-left: 67px;
        
        padding-bottom: 52px;
        text-align: left;
        
    }
    
    .impression {
        display: flex;
        flex-direction: column;
        
        flex-wrap: wrap;
        
        flex-basis: 48%;
        
        padding-right: 15px;
       // padding-left: 54px;
        
        width: 480px;
        order: -1;
    }
    
}