.information {
    display: flex;
    flex-direction: column;
}

.information__intro {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    
    padding-bottom: 42px;
}

.information__info {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    
    
}


@media screen and (min-width: @tablet-width) {  //768px
    
    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
    
    .information__intro {
        
    }
    
    .information__info {
           
    }
    
    
    .information__intro > br:nth-child(1) {
      display: none;
    }
    
    .information__info > br:nth-child(1) {
      display: none;
    }
    
   
}

@media screen and (min-width: @desktop-width) { //1200px
    
    
}