.leisure {
    background-color: white;
    width: 280px;
    
}

.leisure__list {
    list-style-type: none;
   
}

.leisure__item {
    
    padding-bottom: 22.5px;
    
    &--lodging {
       /** background: url(../img/icon-house.svg) no-repeat; **/
    }
    
    &--souvenirs {
      /**  background: url(../img/icon-gift.svg) no-repeat;**/
    }
    
    &--food {
       /** background: url(../img/icon-burger.svg) no-repeat;**/
    }
}

.leisure__img {
    display: inline;
}

.leisure__title {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: black;
    text-align: left;
    
    padding-left: 50px;
    padding-bottom: 25px;
}

.leisure__description {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: @litle-text;
    text-align: left;
    
    padding-left: 50px;
    
    
}
