.main__information {
  margin-top: 46px;
  margin-bottom: 50px; 
}

.main {

}

.main__city-info {
  display: flex;
  flex-direction: column;  
}

.main__leisure {
  margin-top: 30px;
  margin-bottom: 42px;
}

.main__video-player {
  margin-bottom: 40px;   
}

.main__sentence {
  padding-top: 44px;
}

.main__name-form {
  margin-top: 24px;
}

.main__contacts-info {
  margin-top: 25px;
}

.main__impression {
  margin-top: 25px;
}

.main__attraction {
  margin-top: 25px;
}

.main__photo-and-video {
  padding-top: 44px;
}

.main__video {
  margin-top: 38px;
}

.main__video-player {
  margin-bottom: 40px;
}

@media screen and (min-width: @tablet-width) {  
    
.main__video {
  margin-top: 67px;
}
    
.main__photo-and-video {
  padding-top: 76px;
}
    
.main__impression {
  margin-top: 0;
}

.main__leisure {
  margin-bottom: 65.5px;
}
    
.main__information {
  margin-top: 54px;
  margin-bottom: 57px; 
}

.main__name-form {
  margin-top: 0;
}
    
.main__city-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
        
&--briefly {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33%;
} 
} 
    
}

@media screen and (min-width: @desktop-width) { 
.main__leisure {
  margin-bottom: 82.5px;
}  

.main__photo-and-video {
  padding-top: 113px;
}
    
.main__video {
    margin-top: 76px;
}
    
}