.main {
   font-family: 'PT Sans', sans-serif;
    
}

.main__greetings {
    
}

.main__information {
   margin-top: 46px;
    margin-bottom: 33.5px;
    
}

.main__city-info {
    
    
}

.main__leisure {
   margin-top: 40px;
    margin-bottom: 42px;
}

.main__city-info {
    
}

.main__hotel-search {
    
}

