
.photo-block__img {
  display: block;
  padding-bottom: 14px;
  padding-top: 23px;
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  width: auto;
}

.photo-block__square {
  border-bottom: 1px solid #e5e5e5;
}

.photo-block__title {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;  
  margin-right: 20px;
  margin-left: 20px;
  width: 160px;
    
&--two {
  width: 180px;  
}

&--three {
  width: 150px;
}

&--four {
  width: 135px;
}
}

.photo-block__photo-link {
  display: block;
}

.photo-block__author {
  font-size: 14px;
  line-height: 24px;
  color: @litle-text;
  padding-bottom: 21px;
  margin-left: 20px; 
}

.photo-block__views {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  padding-bottom: 17px;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 8px;
}

.photo-block__views svg {
  opacity: 0.3;
  margin-right: 14px;
  width: 23px;
  height: 20px;
  vertical-align: top;
    
&:hover {
  opacity: 1;
}
}

@media screen and (min-width: @tablet-width) {  

.photo-block {
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;
  padding-right: 60px;
  padding-left: 60px;
}
    
.photo-block__name-block {
  display: flex;
  flex-direction: column;
}

.photo-block__views { 
  margin-top: 12px; 
  margin-right: 35px;
  margin-left: 18px;
    
}

.photo-block__views svg { 
    margin-right: 11px;
}
    
.photo-block__square { 
  background-color: #eaeaea;
  border-bottom: none;
        
&--one {
  flex-basis: 100%;
  margin: auto;
  width: 648px;
  background-color: #f2f2f2;    
}

&--two {
  flex-basis: 50%;
  width: 324px;
  background-color: #f2f2f2;   
}

&--three {
  flex-basis: 50%;
  width: 324px;
  background-color: #eaeaea;
}

&--four {
  flex-basis: 50%;
  width: 324px; 
  background-color: #f2f2f2;
}
        
}
    
.photo-block__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
    
.photo-block__title {
  padding-bottom: 0;
  width: 180px;  
}
    
.photo-block__img {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
}
  
}

@media screen and (min-width: @desktop-width) { 
    
.photo-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
    
.photo-block__square {
  justify-content: space-between;      
  background-color: #eaeaea;
        
&--one {
  flex-basis: 100%;
  margin: auto;
  width: 648px;
}

&--two {
  flex-basis: 33.3%;
  width: 324px;
}

&--three {
  flex-basis: 33.4%;
  width: 324px;
}

&--four {
  flex-basis: 33.3%;
  width: 324px;
}
        
}
    
.photo-block__footer {
  position: relative;
  z-index: 10;
  margin-top: -76px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
  box-sizing: border-box;
  width: 100%;
  color: white;  
}
    
.photo-block__img {
  padding-bottom: 0px;
  height: 265px;
&--one {
  height: 400px;
}
}
    
.photo-block__title {
  color: white; 
&--one {
  padding-top: 12px;
}
    
&--two {
  padding-top: 12px;
  width: 195px;
}
    
&--three {
  padding-top: 13px;
}
    
&--four {
  padding-top: 13px;
}
    
}

.photo-block__author {
  color: white;
  padding-bottom: 13px;
    
&--two {
  padding-bottom: 15px;
}
    
&--four {
  padding-bottom: 14px;
}
    
}
    
.photo-block__views {
  color: white;
  padding-top: 10px;
  padding-bottom: 28px; 
    
&--two {
  padding-top: 16px;
  margin-right: 28px;
  padding-bottom: 24px;
}
    
&--three {
  padding-bottom: 25px;
  margin-top: 17px;
}
    
&--four {
  padding-bottom: 25px;
  margin-top: 17px;
  margin-right: 29px;
}
    
}
    
.photo-block__views svg {
  fill: white;
  opacity: 1; 
}
    
}





























