.sentence {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    
    display: flex;
    flex-direction: column;
    
}

.sentence__intro {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.sentence__info {
    font-size: 14px;
    line-height: 24px;
    color: @litle-text;
    text-transform: uppercase;
    padding-bottom: 24px;
}



@media screen and (min-width: @tablet-width) {  //768px
    
    .sentence {
        text-align: center;
        border-bottom: 0;
        
    }

    .sentence__info {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 24px;
        
        width: 441px;
        
        margin: auto;
    }
   
}



@media screen and (min-width: @desktop-width) { //1200px
    
    
    
}