.soc-button {
    text-align: center;
    
    display: flex;
    
    justify-content: space-around;
}

.footer__social-btn {
    
    
    &--twitter {
        
    }
    
    &--facebook {
        
    }
    
    &--youtube {
        
    }
}