.video {
    text-align: center;
}

.video__title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    
    padding-bottom: 41px;
}

.video__info {
    font-size: 14px;
    line-height: 24px;
    color: @litle-text;
    text-transform: uppercase;
    
    padding-bottom: 42px;
}

.video__img-video {
    display: block;
    padding-bottom: 100px;
}