.video {
  text-align: center;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  padding-bottom: 25px;
  font-weight: bold;
}

.video__info {
  font-size: 14px;
  line-height: 24px;
  color: @litle-text;
  text-transform: uppercase;
  padding-bottom: 42px;
  width: 240px;
  margin: auto;
}

.video__img-video {
  display: block;
  padding-bottom: 100px;
}

@media screen and (min-width: @tablet-width) {
  .video {
    flex-basis: 100%;
  }
  .video__title {
    font-size: 30px;
    padding-bottom: 33px;
  }
  .video__info {
    width: 420px;
    padding-bottom: 78px;
  }
  .video__img-video {
    width: 648px;
    margin: auto;
  }
}

@media screen and (min-width: @desktop-width) {
  .video__title {
    padding-bottom: 32px;
  }
  .video__info {
    padding-bottom: 71px;
  }
}























